<html>
  <head>
    <title>Chess</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <h1>Chess</h1>
    <p id="status">
      <%= session[:status] %>
      <% if session[:game_over].nil? || session[:game_over] %>
        Select which side to play:
        <button id="white" name="white">White</button>
        <button id="black" name="black">Black</button>
      <% elsif session[:prompt_promote] %>
        Select piece for pawn promotion:
        <button id="queen" name="queen">Queen</button>
        <button id="rook" name="rook">Rook</button>
        <button id="bishop" name="bishop">Bishop</button>
        <button id="knight" name="knight">Knight</button>
      <% else %>
        <button id="restart" name="restart">Restart Game</button>
      <% end %>
    </p>
    <p>
      <form action="/" id="board" name="board" method="post">
        <% if session[:turn] != session[:side] && !session[:game_over] %>
          <input type="text" name="input" id="input" value="machine">
        <% else %>
          <input type="text" name="input" id="input">
        <% end %>
      </form>
      <table>
        <tr>
          <td class="row_label_left"></td>
          <td class="column_label_top" name="a">a</td>
          <td class="column_label_top" name="b">b</td>
          <td class="column_label_top" name="c">c</td>
          <td class="column_label_top" name="d">d</td>
          <td class="column_label_top" name="e">e</td>
          <td class="column_label_top" name="f">f</td>
          <td class="column_label_top" name="g">g</td>
          <td class="column_label_top" name="h">h</td>
          <td class="row_label_right"></td>
        </tr>
        <tr>
          <td class="row_label_left" name="8">8</td>
          <%= get_view("a8") %>
          <%= get_view("b8") %>
          <%= get_view("c8") %>
          <%= get_view("d8") %>
          <%= get_view("e8") %>
          <%= get_view("f8") %>
          <%= get_view("g8") %>
          <%= get_view("h8") %>
          <td class="row_label_right" name="8">8</td>
        </tr>
        <tr>
          <td class="row_label_left" name="7">7</td>
          <%= get_view("a7") %>
          <%= get_view("b7") %>
          <%= get_view("c7") %>
          <%= get_view("d7") %>
          <%= get_view("e7") %>
          <%= get_view("f7") %>
          <%= get_view("g7") %>
          <%= get_view("h7") %>
          <td class="row_label_right" name="7">7</td>
        </tr>
        <tr>
          <td class="row_label_left" name="6">6</td>
          <%= get_view("a6") %>
          <%= get_view("b6") %>
          <%= get_view("c6") %>
          <%= get_view("d6") %>
          <%= get_view("e6") %>
          <%= get_view("f6") %>
          <%= get_view("g6") %>
          <%= get_view("h6") %>
          <td class="row_label_right" name="6">6</td>
        </tr>
        <tr>
          <td class="row_label_left" name="5">5</td>
          <%= get_view("a5") %>
          <%= get_view("b5") %>
          <%= get_view("c5") %>
          <%= get_view("d5") %>
          <%= get_view("e5") %>
          <%= get_view("f5") %>
          <%= get_view("g5") %>
          <%= get_view("h5") %>
          <td class="row_label_right" name="5">5</td>
        </tr>
        <tr>
          <td class="row_label_left" name="4">4</td>
          <%= get_view("a4") %>
          <%= get_view("b4") %>
          <%= get_view("c4") %>
          <%= get_view("d4") %>
          <%= get_view("e4") %>
          <%= get_view("f4") %>
          <%= get_view("g4") %>
          <%= get_view("h4") %>
          <td class="row_label_right" name="4">4</td>
        </tr>
        <tr>
          <td class="row_label_left" name="3">3</td>
          <%= get_view("a3") %>
          <%= get_view("b3") %>
          <%= get_view("c3") %>
          <%= get_view("d3") %>
          <%= get_view("e3") %>
          <%= get_view("f3") %>
          <%= get_view("g3") %>
          <%= get_view("h3") %>
          <td class="row_label_right" name="3">3</td>
        </tr>
        <tr>
          <td class="row_label_left" name="2">2</td>
          <%= get_view("a2") %>
          <%= get_view("b2") %>
          <%= get_view("c2") %>
          <%= get_view("d2") %>
          <%= get_view("e2") %>
          <%= get_view("f2") %>
          <%= get_view("g2") %>
          <%= get_view("h2") %>
          <td class="row_label_right" name="2">2</td>
        </tr>
        <tr>
          <td class="row_label_left" name="1">1</td>
          <%= get_view("a1") %>
          <%= get_view("b1") %>
          <%= get_view("c1") %>
          <%= get_view("d1") %>
          <%= get_view("e1") %>
          <%= get_view("f1") %>
          <%= get_view("g1") %>
          <%= get_view("h1") %>
          <td class="row_label_right" name="1">1</td>
        </tr>
        <tr>
          <td class="row_label_left"></td>
          <td class="column_label_bottom" name="a">a</td>
          <td class="column_label_bottom" name="b">b</td>
          <td class="column_label_bottom" name="c">c</td>
          <td class="column_label_bottom" name="d">d</td>
          <td class="column_label_bottom" name="e">e</td>
          <td class="column_label_bottom" name="f">f</td>
          <td class="column_label_bottom" name="g">g</td>
          <td class="column_label_bottom" name="h">h</td>
          <td class="row_label_right"></td>
        </tr>
      </table>
    </p>

    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="board.js"></script>
  </body>
</html>
